@media all and (min-width: 1024px) {
  /*--header--*/
  .header {
    position: relative;
  }

  .header-submenu {
    width: auto;
  }

  .header-submenu__container {
    margin-right: 0;
    width: auto;
  }

  .search-form__clean {
    display: none;
  }

  .search-form__text {
    margin-right: 0;
  }

  /*---hero-----*/

  .hero {
    background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x1-min.jpg");
  }

  .hero__heading {
    padding-right: 20%;
  }

  .hero__desk {
    max-width: 80%;
  }

  @keyframes background-img {
    0% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x1-min.jpg");
      background-size: 100% 100%;
    }

    17% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x1-min.jpg");
    }

    50% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_3-l@x1-min.jpg");
      background-size: 120% 120%;
    }

    83% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x1-min.jpg");
    }

    100% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x1-min.jpg");
      background-size: 100% 100%;
    }
  }

  /*--about--*/

  .about__heading {
    text-indent: -2px;
  }

  /*--modal--*/

  .modal__close-btn {
    padding: 20px;
  }

  /*--gallery--*/

  .gallery__container {
    flex-flow: column wrap;
    align-content: space-between;
    height: 839px;
  }

  .gallery__controls {
    display: flex;
    flex-flow: column nowrap;
    order: 1;
    flex: 2 1 0;
    width: 284px;
  }

  .controls {
    width: 100%;
  }

  .gallery__showroom {
    display: flex;
    flex-flow: column nowrap;
    order: 3;
    flex-basis: 100%;
    margin-top: 25px;
    width: 594px;
  }

  .gallery__note {
    order: 2;
    width: 284px;
  }

  .gallery__note {
    padding-right: 5px;
  }

  /*--catalog--*/

  .catalog__container {
    padding-top: 81px;
  }

  .catalog__countries {
    justify-content: flex-start;
    margin-bottom: -8px;
  }

  .catalog__country__desk {
    margin-right: 46px;
  }

  .catalog__remark {
    margin-bottom: 39px;
  }

  .catalog__content {
    flex-flow: row nowrap;
  }

  .catalog__list {
    order: 2;
    flex-grow: 1;
  }

  .catalog__desc {
    order: 1;
    max-width: 47.3%;
    margin-right: 50px;
  }

  .catalog__desc img {
    width: 100%;
  }

  .catalog__sublist {
    padding-top: 24px;
    max-height: 438px;
  }

  .catalog__subitem {
    width: 50%;
  }

  .catalog__text {
    padding: 0;
  }

  /*--events--*/

  .events__container {
    padding-top: 30px;
    padding-bottom: 79px;
  }

  .events-card:nth-child(2n-1) {
    margin-right: auto;
  }

  .events-card {
    margin-right: 2.91%;
    width: 31.35%;
  }

  .events-card:nth-child(3n) {
    margin-right: 0;
  }

  .events-card_one {
    background-image: url("../../pictures/events/l/rectangle-101-l@x1_optimized.jpg");
  }

  .events-card_two {
    background-image: url("../../pictures/events/l/rectangle-104-l@x1-1_optimized.jpg");
  }

  .events-card_three {
    background-image: url("../../pictures/events/l/rectangle-101-l@x1-2_optimized.jpg");
  }

  .events-card_four {
    background-image: url("../../pictures/events/l/rectangle-104-l@x1_optimized.jpg");
  }

  .events-card_five {
    background-image: url("../../pictures/events/l/rectangle-104-l@x1-1_optimized.jpg");
  }

  /*--publication--*/

  .publication {
    background-image: url("../../pictures/publication/bgimg/birmingham-museums-trust-mk_98nuc4-4-unsplash-4-l@x1_optimized.jpg");
  }

  .publication__container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 60px;
  }

  .publication__category__wrap {

    flex-flow: column nowrap;
    max-height: 100%;
    padding-bottom: 0;
  }

  .publication__price {
    position: absolute;
    top: 104px;
    right: 50px;
    z-index: 50;
    display: flex;
    align-items: center;
  }

  .publication__price__heading {
    margin-bottom: 0;
    margin-right: 16px;
  }

  .category {
    margin-right: 30px;
  }

  .publication__choice {
    width: 31.9%;
  }

  .publication__swiper {
    padding-top: 93px;
    padding-left: 0;
    padding-right: 0;
    width: 68.1%;
  }

  .swiper-controls_publication {
    top: 33px;
  }

  .swiper-pagination_publication {
    margin: 0 19px;
  }

  .publication-card__price {
    bottom: 99px;
  }

  .publication-card {
    margin-bottom: 0;
  }

  .publication-card__btn {
    margin-bottom: 23px;
  }

  .publication-card__heading {
    width: 70%;
  }

  /*--projects--*/

  .projects__desc {
    padding-right: 0;
  }

  .projects__subheading {
    margin-top: 18px;
    margin-bottom: 24px;
  }

  .projects__card {
    min-height: 128px;
    max-height: 128px;
  }

  /*--contacts--*/

  .contacts__adress {
    width: 47.6%;
  }

  .feedback-form {
    padding-right: 101px;
  }

  .contacts__map {
    width: 52.4%;
  }

  .feedback-form__heading {
    margin-bottom: 16px;
  }

  .contacts__street {
    line-height: 35px;
  }

  .contacts__social__heading {
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 1024px) and (-o-min-device-pixel-ratio: 2/1),
screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x2-min.jpg");
  }

  @keyframes background-img {
    0% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x2-min.jpg");
      background-size: 100% 100%;
    }

    17% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x2-min.jpg");
    }

    50% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_3-l@x2-min.jpg");
      background-size: 120% 120%;
    }

    83% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x2-min.jpg");
    }

    100% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x2-min.jpg");
      background-size: 100% 100%;
    }
  }

  .events-card_one {
    background-image: url("../../pictures/events/l/rectangle-101-l@x2_optimized.jpg");
  }

  .events-card_two {
    background-image: url("../../pictures/events/l/rectangle-104-l@x2-1_optimized.jpg");
  }

  .events-card_three {
    background-image: url("../../pictures/events/l/rectangle-101-l@x2-2_optimized.jpg");
  }

  .events-card_four {
    background-image: url("../../pictures/events/l/rectangle-104-l@x2_optimized.jpg");
  }

  .events-card_five {
    background-image: url("../../pictures/events/l/rectangle-104-l@x2-1_optimized.jpg");
  }


}

@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 3),
screen and (min-width: 1024px) and (-o-min-device-pixel-ratio: 3/1),
screen and (min-width: 1024px) and (min-resolution: 3dppx) {
  .hero {
    background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x3-min.jpg");
  }

  @keyframes background-img {
    0% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x3-min.jpg");
      background-size: 100% 100%;
    }

    17% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x3-min.jpg");
    }

    50% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_3-l@x3-min.jpg");
      background-size: 120% 120%;
    }

    83% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x3-min.jpg");
    }

    100% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x3-min.jpg");
      background-size: 100% 100%;
    }
  }

  .events-card_one {
    background-image: url("../../pictures/events/l/rectangle-101-l@x3_optimized.jpg");
  }

  .events-card_two {
    background-image: url("../../pictures/events/l/rectangle-104-l@x3-1_optimized.jpg");
  }

  .events-card_three {
    background-image: url("../../pictures/events/l/rectangle-101-l@x3-2_optimized.jpg");
  }

  .events-card_four {
    background-image: url("../../pictures/events/l/rectangle-104-l@x3_optimized.jpg");
  }

  .events-card_five {
    background-image: url("../../pictures/events/l/rectangle-104-l@x3-1_optimized.jpg");
  }
}
