@media all and (min-width: 1224px) {
  .container {
    padding-right: 60px;
    padding-left: 60px;
  }

  /*---header-----*/
  .header__container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 11px;
  }

  .header-logo {
    order: 1;
  }

  .header-logo__picture {
    width: 173px;
  }

  .header__burger,
  .header-nav__item:first-child {
    display: none;
  }

  .header-nav {
    order: 2;
    position: relative;
    margin-right: 0;
    padding: 34px 0 26px 48px;
    flex-flow: row nowrap;
    align-items: center;
    transform: none;
    transition: none;


    justify-content: flex-end;
    margin-right: 0;
    margin-left: auto;
    width: calc(100vw - 120px - 250px);
  }

  .header-nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 0 0 0;
    max-width: 100%;
  }

  .header-nav__link {
    padding: 2px 6px;
    font-size: 18px;
    line-height: 25px;
  }

  .header-nav__item {
    white-space: nowrap;
    margin-right: 0.5%;
  }

  .header-nav__item:last-child {
    margin-right: 30px;
  }

  .header__login {
    margin-right: 0;
    padding-top: 0;
    padding-left: 18px;
    padding-right: 5px;
    padding-bottom: 0;
    border: none;
    background-position: center left;
  }

  .search-open {
    display: none;
  }

  .search-form__start {
    margin-right: 10px;
    padding: 14px;
    background-size: 22px 22px;
  }

  .header-submenu__container {
    background-color: inherit;
  }

  .header-submenu {
    top: 92px;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    color: var(--text_light);
    background: rgba(0, 0, 0, 0.4);
    transform: none;
    transition: none;
  }

  .header-submenu__container {
    padding-bottom: 21px;
    width: 100%;
  }

  .search-form {
    width: 20%;
  }

  .search-form__text {
    min-width: 218px;
  }

  .search-form__clean {
    display: none;
  }

  .header-submenu__list {
    display: flex;
    justify-content: flex-start;
    width: 70%;
  }

  .header-submenu__item {
    position: relative;
    margin-right: 30px;
  }

  .header-submenu__btn {
    position: relative;
    padding: 5px 18px 5px 0;
    outline: none;
    border: none;
    color: var(--text_light);
    background: inherit;
  }

  .header-submenu__btn::before {
    content: '';
    position: absolute;
    top: 40%;
    right: 0;
    width: 13px;
    height: 13px;
    background-image: url('../../pictures/header/arrow_submenu.svg');
    background-position: center right;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    transition: transform .4s;
  }

  .header-submenu__btn_active::before {
    transform: rotate(180deg);
  }

  .header-submenu__wrap {
    position: absolute;
    top: 75px;
    left: -42px;
    padding: 30px 0;
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.6);
    animation: show .4s ease-in-out;
  }

  .header-submenu__sublist {
    padding: 0 30px;
    width: 300px;
    height: 240px;
  }

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .header-submenu__link {
    display: block;
    padding: 6px 14px;
    background-image: url("../../pictures/header/submenu_1-min.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .header-submenu__subitem:not(:last-child) {
    margin-bottom: 20px;
  }

  .simplebar-content-wrapper {
    overflow: auto;
  }

  .simplebar-scrollbar {
    width: 2px;
    background: var(--background_btn);
    border-color: var(--background_btn);
  }

  .simplebar-scrollbar:before {
    background: var(--background_dark);
  }

  .simplebar-track.simplebar-vertical {
    width: 2px;
    background-color: var(--background_dark);
  }

  .simplebar-track {
    right: 13px;
  }

  /*---hero-----*/

  .hero__container {
    padding-top: 140px;
  }

  .hero__heading {
    max-width: 65%;
  }

  .hero__desk {
    max-width: 65%;
  }

  /*gallery*/

  .choices:hover {
    box-shadow: 0 0 15px var(--background_btn_active);
  }

  .gallery__btn:hover.gallery__btn::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
  }

  .gallery__btn:hover.gallery__btn::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    margin: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../../pictures/gallery/magnifier.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 81px 79px;
  }

  .swiper-button-next_gallery:hover,
  .swiper-button-prev_gallery:hover {
    outline: none;
    background: var(--background_btn);
    border: 2px solid var(--background_btn);
    cursor: pointer;
  }

  .swiper-button-next_gallery:active,
  .swiper-button-prev_gallery:active {
    outline: none;
    background: var(--background_btn_hover);
    border: 2px solid var(--background_btn_active);
  }

  .gallery__controls,
  .gallery__note {
    width: 400px;
  }

  /*catalog*/

  .catalog__group:hover .catalog__group__desc {
    color: var(--background_btn);
  }

  .catalog__group:hover.catalog__group::after {
    background-color: var(--background_btn);
    border: 2px solid var(--background_btn);
  }

  .catalog__group:hover.catalog__group::before {
    border-color: var(--text_light) var(--text_light) transparent transparent;
  }

  .catalog__group:active.catalog__group::after {
    background-color: var(--background_btn_hover);
    border: 2px solid var(--background_btn_active);
  }

  .catalog__link:hover {
    color: var(--background_btn);
  }

  .catalog__link {
    position: relative;
    align-self: flex-start;
  }

  .catalog__link:hover::after {
    transition: background-color .2s;
  }
  .catalog__link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 1px;
    background-color: var(--background_btn);
  }

  /*--events--*/

  .events-card__link:hover {
    font-weight: 600;
    color: var(--background_btn);
  }

  .events-card__link:active::before {
    content: none;
  }

  /*--projects--*/

  .projects__card {
    min-height: auto;
    max-height: auto;
  }
}
