@media all and (min-width: 1024px) {

  /*---hero-----*/

  .hero {
    background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x1-min.jpg");
  }

  .hero__heading {
    padding-right: 20%;
  }

  .hero__desk {
    padding-right: 20%;
  }

  @keyframes background-img {
    0% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x1-min.jpg");
      background-size: 100% 100%;
    }

    17% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x1-min.jpg");
    }

    50% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_3-l@x1-min.jpg");
      background-size: 120% 120%;
    }

    83% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x1-min.jpg");
    }

    100% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x1-min.jpg");
      background-size: 100% 100%;
    }
  }

  /*--about--*/

  .about__heading {
    text-indent: -2px;
  }

  /*--modal--*/

  .modal__close-btn {
    padding: 20px;
  }

  /*--gallery--*/

  .gallery__container {
    flex-flow: column wrap;
    align-content: space-between;
    height: 839px;
  }

  .gallery__controls {
    display: flex;
    flex-flow: column nowrap;
    order: 1;
    flex: 2 1 0;
    width: 284px;
  }

  .controls {
    width: 100%;
  }

  .gallery__showroom {
    display: flex;
    flex-flow: column nowrap;
    order: 3;
    flex-basis: 100%;
    margin-top: 25px;
    width: 594px;
  }

  .gallery__note {
    order: 2;
    width: 284px;
  }

  .gallery__note {
    padding-right: 5px;
  }

  /*--katalog--*/

  .katalog__container {
    padding-top: 81px;
  }

  .katalog__countries {
    justify-content: flex-start;
    margin-bottom: -8px;
  }

  .katalog__country__desk {
    margin-right: 46px;
  }

  .kontainer__remark {
    margin-bottom: 39px;
  }

  .katalog__content {
    flex-flow: row nowrap;
  }

  .katalog__list {
    order: 2;
    flex-grow: 1;
  }

  .katalog__desc {
    order: 1;
    max-width: 47.3%;
    margin-right: 50px;
  }

  .katalog__desc img {
    width: 100%;
  }

  .katalog__sublist {
    padding-top: 24px;
    max-height: 438px;
  }

  .katalog__subitem {
    width: 50%;
  }

  .katalog__text {
    padding: 0;
  }

}





@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 1024px) and (-o-min-device-pixel-ratio: 2/1),
screen and (min-width: 754px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x2-min.jpg");
  }

  @keyframes background-img {
    0% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x2-min.jpg");
      background-size: 100% 100%;
    }

    17% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x2-min.jpg");
    }

    50% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_3-l@x2-min.jpg");
      background-size: 120% 120%;
    }

    83% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x2-min.jpg");
    }

    100% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x2-min.jpg");
      background-size: 100% 100%;
    }
  }
}

@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 3),
screen and (min-width: 1024px) and (-o-min-device-pixel-ratio: 3/1),
screen and (min-width: 754px) and (min-resolution: 3dppx) {
  .hero {
    background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x3-min.jpg");
  }

  @keyframes background-img {
    0% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x3-min.jpg");
      background-size: 100% 100%;
    }

    17% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x3-min.jpg");
    }

    50% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_3-l@x3-min.jpg");
      background-size: 120% 120%;
    }

    83% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_2-l@x3-min.jpg");
    }

    100% {
      background-image: url("../../pictures/hero/l/birmingham-museums-trust-MK_98NuC4-4-unsplash_1-l@x3-min.jpg");
      background-size: 100% 100%;
    }
  }
}