.catalog__container {
  padding-top: 80px;
}

.catalog__heading {
  margin-top: 0;
  margin-bottom: 10px;
  text-indent: -2px;
}

.catalog__countries {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.catalog__country__desk {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.catalog_hide {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.catalog__custom__btn {
  position: relative;
  padding: 16px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-position: center center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  transition: border .2s, box-shadow .2s;
}

.catalog_france {
  background-image: url("../../pictures/catalog/icon/france.svg");
}

.catalog_germany {
  background-image: url("../../pictures/catalog/icon/germany.svg");
}

.catalog_italy {
  background-image: url("../../pictures/catalog/icon/italy.svg");
}

.catalog_russia {
  background-image: url("../../pictures/catalog/icon/russia.svg");
}

.catalog_belgium {
  background-image: url("../../pictures/catalog/icon/belgium.svg");
}

.catalog__btn:not(:disabled):not(:checked)+.catalog__custom__btn:hover,
.catalog__btn:focus+.catalog__custom__btn {
  box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
}

.catalog__btn:hover+.catalog__custom__btn,
.catalog__btn:not(:disabled):active+.catalog__custom__btn,
.catalog__btn:focus:not(:checked)+.catalog__custom__btn {
  border: 2px solid var(--background_btn);
}

.catalog__custom__btn::after {
  transition: border .2s;
}

.catalog__btn:checked+.catalog__custom__btn::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 44px;
  border: 2px solid var(--background_btn);
  border-radius: 50%;
  top: -6px;
  left: -6px;
}

.catalog__btn:disabled,
.catalog__btn:disabled+.catalog__custom__btn,
.catalog__btn:disabled+.catalog__custom__btn:hover,
.catalog__btn:disabled:hover+.catalog__custom__btn {
  opacity: .3;
}

.catalog__remark {
  display: none;
}

.catalog__content {
  display: flex;
  flex-flow: column nowrap;
}

.catalog__list {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 49px;
  border-top: 1px solid var(--grey_CA);
  border-bottom: 1px solid var(--grey_CA);
}


.catalog__item {
  display: flex;
  flex-flow: column nowrap;
}

.catalog__group {
  padding: 20px 0;
  position: relative;
  border: none;
  border-top: 1px solid var(--grey_CA);
  border-bottom: 1px solid var(--grey_CA);
  outline: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  background: none;
}

.catalog__group__desc {
  outline: 2px solid transparent;
  transition: border .2s, color .2s;
}

.catalog__group::after {
  position: absolute;
  right: 0;
  top: center;
  content: "";
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: var(--grey_CE);
  transition: border .2s, background-color .2s;
}

.catalog__group::before {
  position: absolute;
  z-index: 10;
  right: 12px;
  top: 31px;
  content: "";
  width: 7px;
  height: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--background_dark) var(--background_dark) transparent transparent;
  transform: rotate(135deg);
  transition: border .2s;
}

.catalog__group_active::before {
  transform: rotate(-45deg);
  top: 33px;
  border-bottom: none;
}

.catalog__group:active.catalog__group::after,
.catalog__group:focus.catalog__group::after {
  border: 2px solid var(--background_btn_hover);
}

.catalog__group:active .catalog__group__desc,
.catalog__group:focus .catalog__group__desc {
  outline: 2px solid var(--background_btn_hover);
}

.catalog__group:active.catalog__group::before {
  transform: rotate(-45deg);
  top: 33px;
}

.catalog__group:active.catalog__group::after {
  background-color: var(--background_btn_hover);
  border: 2px solid var(--background_btn_active);
}

.catalog__group:active.catalog__group::before {
  border-color: var(--text_light) var(--text_light) transparent transparent;
  top: 53px;
}

.catalog__sublist {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 16px;
  padding-bottom: 20px;
  border-top: 1px solid var(--background_btn);
  border-bottom: 1px solid var(--background_btn);
}

.catalog__subitem {
  display: flex;
  flex-flow: column nowrap;
  font-size: 16px;
  line-height: 32px;
}

.catalog__link {
  padding: 0 0 0 0;
  border: none;
  background-color: transparent;
  outline: none;
  text-align: left;
  transition: outline .2s, font-weight .2s, color .2s;
}

.active-link {
  font-weight: 600;
  color: var(--background_btn);
}

.catalog__link:focus {
  outline: 2px solid var(--background_btn_hover);
}

.catalog__link:active {
  font-weight: 600;
  color: var(--background_btn);
}

.catalog__subtitle {
  margin-top: 12px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.catalog__meta {
  margin-bottom: 7px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey_99);
}

.catalog__text {
  margin-top: 0;
  padding: 0 3px 0 0;
  font-size: 16px;
  line-height: 32px;
}



.catalog__desc,
.catalog__img,
.catalog__text,
.catalog__meta,
.catalog__subtitle,
.catalog__link {
  animation: show_catalog .6s ease-in-out;
}

@keyframes show_catalog {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hide {
  opacity: 0;
  animation: hide .3s ease-in-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
