.gallery {
  color: var(--text_light);
  background-color: var(--text_dark);
  background-image: url("../../pictures/gallery/bgimg/birmingham-museums-trust-mk_98nuc4-4-unsplash-3-xs@x1_optimized.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__container {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

.gallery__heading {
  margin-top: 0;
  margin-bottom: 13px;
  text-indent: -2px;
}

.controls__heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.025em;
}

.gallery__controls {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
}

.controls {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 77px;
}

.controls__control {
  margin-bottom: 0;
}

.choices__item.choices__item--choice.is-selected.choices__placeholder.choices__item--selectable.is-highlighted:first-child,
.choices__item.choices__item--choice.is-selected.choices__placeholder.choices__item--selectable:first-child {
  display: none;
}

.choices__list--dropdown .choices__item {
  position: relative;
  padding: 3px 3px 3px 18px;
  border: 1px solid var(--grey_99);
  font-size: 16px;
  line-height: 32px;
  color: var(--grey_99);
}

.choices {
  margin-bottom: -2px;
  border: 1px solid var(--text_light);
  border-radius: 6px;
}

.choices:focus,
.choices:active {
  box-shadow: 0 0 15px var(--background_btn_active);
}

.choices:nth-of-type(2) {
  border: 1px solid var(--grey_99);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.choices:nth-of-type(3) {
  border: 1px solid var(--grey_99);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.choices__placeholder {
  opacity: 1;
}

.choices__inner {
  padding: 0 8px;
  min-height: 39px;
  font-size: 16px;
  line-height: 28px;
  color: var(--text_light);
  background-color: inherit;
}

.choices:nth-of-type(2) .choices__inner,
.choices:nth-of-type(3) .choices__inner {
  padding-left: 13px;
  color: var(--grey_99);
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 0;
}

.choices__list--single {
  padding: 4px 16px 0px 4px;
}

.choices__list {
  z-index: 90;
  color: var(--text_light);
}

.choices[data-type*="select-one"]::after {
  height: 8px;
  width: 8px;
  border-color: transparent var(--text_light) var(--text_light) transparent;
  border-width: 1px;
  position: absolute;
  right: 14px;
  top: 40%;
  margin-top: 0;
  pointer-events: none;
  transform: rotate(45deg);
}

.choices[data-type*="select-one"]:nth-of-type(2)::after,
.choices[data-type*="select-one"]:nth-of-type(3)::after {
  border: none;
}

.choices__list.choices__list--dropdown {
  background-color: var(--background_dark);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: var(--background_btn);
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.swiper-slide_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 367px;
  text-align: center;
  font-size: 18px;
  background: inherit;
}

.gallery__btn {
  position: relative;
  display: flex;
  padding: 0;
  border: none;
  object-fit: cover;
}

.gallery__btn:focus.gallery__btn::after,
.gallery__btn:active.gallery__btn::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

.gallery__btn:active.gallery__btn::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.gallery__btn:focus.gallery__btn::before,
.gallery__btn:active.gallery__btn::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  margin: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../../pictures/gallery/magnifier.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 81px 79px;
}

.gallery__showroom {
  position: relative;
  margin-bottom: 20px;
}

.swiper-wrapper_gallery {
  padding-bottom: 49px;
}

.swiper-contr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination_gallery {
  position: relative;
  bottom: auto;
  margin: 0 14px;
  width: auto;
  font-size: 16px;
  line-height: 32px;
}

.prev-btn,
.next-btn {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: border .2s, background-color .2s;
}

.prev-btn:after,
.next-btn:after {
  position: absolute;
  top: 10px;
  content: "";
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 1px;
}

.prev-btn:after {
  left: 11px;
  transform: rotate(45deg);
}

.next-btn:after {
  right: 11px;
  transform: rotate(-135deg);
}

.swiper-button-next_gallery,
.swiper-button-prev_gallery {
  border: 1px solid var(--grey_66);
  background-color: var(--grey_66);
}

.swiper-button-next_gallery:after,
.swiper-button-prev_gallery:after {
  border-color: transparent transparent var(--text_light) var(--text_light);
}



.swiper-button-next_gallery:focus,
.swiper-button-prev_gallery:focus {
  outline: none;
  border: 2px solid var(--background_btn);
}

.swiper-button-next_gallery:active,
.swiper-button-prev_gallery:active {
  outline: none;
  background: var(--background_btn_hover);
  border: 2px solid var(--background_btn_active);
}

.gallery__note {
  margin: 0;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.024em
}

.gallery__link {
  outline: none;
  color: #C283F3;
}
