.header {
  background-color: var(--background_dark);
}

.header__container,
.header-submenu__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 11px;
  width: 100%;
}

.header-submenu__container {
  position: relative;
}

.header-submenu__container::before {
  content: '';
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  filter: blur(4px);
}

.header-submenu__list {
  display: none;
}

.header-logo {
  order: 2;
  margin-left: 2px;
  object-fit: cover;
  font-size: 0;
  line-height: 0;
}

.header-logo__picture {
  width: 97px;
}

.header__burger {
  position: relative;
  border: none;
  width: 15px;
  height: 2px;
  background-color: var(--text_light);
  transition: outline .2s, filter .2s;
}

.header__burger::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 20px;
  height: 2px;
  background-color: var(--text_light);
  transition: outline .2s, filter .2s;
}

.header__burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 13px;
  height: 2px;
  background-color: var(--text_light);
  transition: outline .2s, filter .2s;
}

.search-open:focus,
.header__burger:focus,
.header__burger:focus.header__burger::after,
.header__burger:focus.header__burger::before {
  outline: 2px solid var(--background_btn);
}

.search-open:active,
.header__burger:active,
.header__burger:active.header__burger::after,
.header__burger:active.header__burger::before {
  outline: 2px solid var(--text_light);
  filter: invert(30%) sepia(35%) saturate(1393%) hue-rotate(234deg) brightness(98%) contrast(91%);
}

.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  flex-flow: column nowrap;
  padding: 14px 15px 27px 14px;
  width: 100%;
  border: 1px solid var(--background_dark);
  color: var(--text_light);
  background: var(--background_dark);
  transform: translateX(-120%);
  transition: transform 0.5s;
}

.header-nav_show {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.header-nav__list {
  margin: 0 0 18px 0;
}

.header-nav__link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.header__login {
  align-self: start;
  padding: 9px 32px 10px 42px;
  border: 2px solid var(--background_btn);
  border-radius: 100px;
  outline: none ;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-image: url('../../pictures/header/logIn.svg');
  background-position: 30px 13px;
  background-repeat: no-repeat;
  background-size: 9px 9px;
}

.header-nav__item:first-child {
  font-size: 0;
  line-height: 0;
}

.header-nav__hide-btn {
  margin-bottom: 15px;
  padding: 8px;
  border: none;
  background-color: inherit;
  background-image: url('../../pictures/header/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.search-open {
  order: 3;
  padding: 8px;
  border: none;
  background-color: inherit;
  background-image: url('../../pictures/header/search.svg');
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  transition: outline .2s, filter .2s;
}

.header-submenu {
  position: absolute;
  z-index: 50;
  top: -10px;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-120%);
  transition: transform 0.5s ease-in-out;
}

.header-submenu_show {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.search-form {
  position: relative;
  display: flex;
  padding: 11px 0 19px 39px;
  width: 100%;
}

.search-form__text {
  flex-grow: 1;
  padding-bottom: 0;
  padding-top: 22px;
  margin-right: 23px;
  line-height: 15px;
  border: none;
  border-bottom: 1px solid var(--text_light);
  color: var(--text_light);
  background-color: inherit;
}

.search-form__text::placeholder {
  color: var(--text_light);
}

.search-form__clean {
  padding: 8px;
  border: none;
  background-color: inherit;
  background-image: url("../../pictures/header/close.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.search-form__start {
  margin-right: 12px;
  padding: 10px;
  border: none;
  background-color: inherit;
  background-image: url('../../pictures/header/search.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
