.header__login {
  position: relative;
  transition: outline .2s, background-color .2s, border .2s;
}

.header__login:focus::after {
  position: absolute;
  content: "";
  top: 11px;
  right: 30px;
  bottom: 13px;
  left: 30px;
  outline: 2px solid var(--background_btn_hover);
}

.header__login:active {
  color: var(--text_light);
  background-color: var(--background_btn_hover);
  border: 3px solid var(--background_btn_active);
}

.link {
  transition: filter .2s;
}

.link:active,
.link:focus {
  outline: 2px solid var(--text_light);
  filter: invert(30%) sepia(35%) saturate(1393%) hue-rotate(234deg) brightness(98%) contrast(91%);
}

.search-form__text_style {
  transition: outline .2s;
}

.search-form__text_style:focus {
  outline: 2px solid var(--background_btn_hover);
}

.link_gallery {
  position: relative;
}

.link_gallery::after,
.link_gallery::before {
  transition: background-color .2s, outline .2s;
}

.link_gallery:active::before,
.link_gallery:focus::before {
  position: absolute;
  bottom: -0.5rem;
  left: -5%;
  content: "";
  width: 110%;
  height: 2rem;
  outline: 2px solid var(--background_btn_hover);
}

.link_gallery:active::after,
.link_gallery:focus::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--background_btn);
}

.link_underline {
  transition: filter .2s, underline .2s;
}

.link_underline:active,
.link_underline:focus {
  text-decoration: underline;
  outline: 2px solid var(--background_btn);
}

.input_style {
  transition: outline .2s;
}

.input_style:focus {
  outline: 2px solid var(--background_btn_hover);
}

.header-submenu__link {
  transition: outline .2s, background-color .2s;
}

.hero__link_style:focus {
  border: 3px solid var(--background_btn_hover);
}

.hero__link_style {
  outline: none;
  transition: border .2s, background-color .2s;
}

.hero__link_style:active {
  border: 3px solid var(--background_btn_active);
  background-color: var(--background_btn_hover);
}

.events__btn_style,
.ellipsebtn_style {
  position: relative;
  transition: background-color .2s, outline .2s, border-color .2s, color .2s;
}

.events__btn_style:focus::after,
.ellipsebtn_style:focus::after {
  position: absolute;
  content: "";
  top: 11px;
  right: 30px;
  bottom: 13px;
  left: 30px;
  outline: 2px solid var(--background_btn_hover);
}

.events__btn_style:active,
.ellipsebtn_style:active {
  color: var(--text_light);
  background-color: var(--background_btn_hover);
  border: 3px solid var(--background_btn_active);
}

@media all and (min-width: 1224px) {
  .link:hover {
    filter: invert(30%) sepia(35%) saturate(1393%) hue-rotate(234deg) brightness(98%) contrast(91%);
  }

  .header__login {
    position: relative;
    transition: outline .2s, background-color .2s, border .2s, filter .2s;
  }

  .header__login:focus::after {
    content: none;
    outline: none;
  }

  .header__login:active {
    color: var(--text_light);
    background-color: inherit;
    border: none;
  }


  .header__login:active,
  .header__login:focus {
    outline: 2px solid var(--text_light);
    filter: invert(30%) sepia(35%) saturate(1393%) hue-rotate(234deg) brightness(98%) contrast(91%);
  }

  .header__login:hover {
    filter: invert(30%) sepia(35%) saturate(1393%) hue-rotate(234deg) brightness(98%) contrast(91%);
  }

  .header-submenu__link:hover,
  .header-submenu__link:focus {
    outline: 2px solid var(--background_btn_hover);
  }

  .header-submenu__link:active {
    background-color: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    outline: 2px solid var(--background_btn);
  }

  .hero__link_style:hover {
    border: 3px solid var(--background_btn_active);
  }

  .link_underline:hover {
    text-decoration: underline;
  }

  .events__btn_style:hover,
  .ellipsebtn_style:hover {
    color: var(--text_light);
    background-color: var(--background_btn);
    border-color: var(--background_btn);
  }

  .link_gallery:hover::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--background_btn);
  }

  .link_gallery:hover::before,
  .link_gallery:active::before,
  .link_gallery:focus::before {
    content: none;
  }
}
